<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>学生列表</title>
	    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body>
    	<div class="container">
    		<p class="lead">学生详细信息</p>
    		<form class="form-horizontal">
    			<div class="form-group">
			    	<label for="name" class="col-sm-2 control-label">ID</label>
			    	<div class="col-sm-10">
			      		<input type="text" th:value="${student.id}" class="form-control" name="id" placeholder="id" disabled="disabled" />
			    	</div>
			  	</div>
    			<div class="form-group">
			    	<label for="name" class="col-sm-2 control-label">姓名</label>
			    	<div class="col-sm-10">
			      		<input type="text" th:value="${student.name}" class="form-control" name="name" placeholder="name" disabled="disabled" />
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="sex" class="col-sm-2 control-label">性别</label>
			    	<div class="col-sm-10">
			      		<input type="text" th:value="${student.sex}" class="form-control" name="sex" placeholder="sex" disabled="disabled" />
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="studentNum" class="col-sm-2 control-label">学号</label>
			    	<div class="col-sm-10">
			      		<input type="text" th:value="${student.studentNum}" class="form-control" name="studentNum" placeholder="student number" disabled="disabled" />
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="interests" class="col-sm-2 control-label">兴趣爱好</label>
			    	<div class="col-sm-10">
			      		<input type="text" th:value="${interests}" class="form-control" name="interests" placeholder="interests (split by space)" disabled="disabled" />
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-warning navbar-btn" th:onclick="'javascript:update_student('+${student.id}+')'">更新学生信息</button>
						<button type="button" class="btn btn-danger navbar-btn" th:onclick="'javascript:delete_student('+${student.id}+')'">删除学生信息</button>
						<button type="button" class="btn btn-success navbar-btn" th:onclick="'javascript:show_students()'">显示学生列表</button>
		    		</div>
			  	</div>
			</form>
    	</div>
    	
		<script type="text/javascript">
	    	function show_students(){
	    		window.location.href='/students/list';
	    	}
	    	
	    	function update_student(id) {
	    		window.location.href="/students/detail/update?id=" + id;
	    	}
	    	
	    	function delete_student(id) {
	    		window.location.href="/students/delete?id=" + id;
	    	}
	    </script>
    </body>
</html>